<!DOCTYPE html>
<html>
	<head>

		<title>FilePile</title>
  		<%= javascript_include_tag :defaults %> <!-- includes javascript files that come with rails -->
		<%= stylesheet_link_tag "main"%> <!-- links to the stylesheet in the public/stylesheets directory called main (it generates html code) -->
  		<%= csrf_meta_tag %> <!-- prevents cross site request forgery to protect from hacking -->
		<script type="text/javascript" src="jquery-1.4.2.js"></script>


		<script type="text/javascript">
			$(document).ready(function(){
				$('.button').click(function(){ return false; });
			});
		</script>

		<style>
			/* The following code was originaly from "http://devgrow.com/super-simple-css-buttons/" */
			* {
				margin: 0;
				padding: 0;	/* Sets margin and padding to 0px for ALL elements on the site. */
			} 
			.button_body {
				padding: 40px;
				background: #eee;
				font-family:
				Verdana, Arial;
				font-size: 12px;
				line-height: 18px; 
			}
			.button_a {
				text-decoration: none;
			}
			.button_h2, h3 {
				margin: 0 0 20px;
				text-shadow: 2px 2px #fff;
				font-family: arial;
			}
			.Button_h2 { 
				font-size: 28px;
				font-family: arial;
			}
			.button_h3 { 
				font-size: 22px;
				font-family: arial;
			}
			.button_pre {
				background: #fff;
				width: 460px;
				padding: 10px 20px;
				border-left: 5px solid #ccc;
				margin: 0 0 20px;
				font-family: arial;
			}
			.button_p {
				width: 500px;
				font-size: 18px;
				line-height: 24px;
				margin: 0 0 30px; 
				font-family: arial;
			}
			.button_input {
				margin: 0; 
				padding: 0; 
			}
			.button {
				
				padding: 5px 10px;
				display: inline;
				background: #777 url(button.png) repeat-x bottom;
				border: none;
				color: #fff;
				cursor: pointer;
				font-weight: bold;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				text-shadow: 1px 1px #666;
				font-family: arial;
				
			}
			.button:hover {
				background-position: 0 center;
			}
			.button:active {
				background-position: 0 top;
				position: relative;
				top: 1px;
				padding: 6px 10px 4px;
			}
			.button.red {
				background-color: #6C0000;
			}
			.button.purple {
				background-color: #9400bf; 
			}
			.button.green {
				background-color: #58aa00;
			}
			.button.orange {
				background-color: #ff9c00;
			}
			.button.blue {
				background-color: #2c6da0;
			}
			.button.black {
				background-color: #333; 
			}
			.button.white {
				background-color: #fff;
				color: #000;
				text-shadow: 1px 1px #fff;
			}
			.button.small { 
				font-size: 75%;
				padding: 3px 7px;
			}
			.button.small:active { 
				padding: 4px 7px 2px;
				background-position: 0 top;
			}
			.button.large { 
				font-size: 250%;
				padding: 14px 24px; 
			}
			.button.large:active { 
				padding: 16px 24px 12px;
				background-position: 0 top; 
			}
			.button.custom {
				font-size: 500%; 
				padding: 28px 48px; 
			}
			.button.custom:active { 
				padding: 32px 48px 24px;
				background-position: 0 top;
			}
			a:visited{
				text-decoration: none;
				text-color: 77ab77;
			}
			a:active{
				text-decoration: none;
				text-color: 77ab77;
			}
			a:hover{
				text-decoration: underline ;
				text-color: 77cc77;
			}
			a:link{
				text-decoration: none;
				text-color: 77ab77;
			}		
		</style>
	</head>
	<body id="main_body">
		<div id="bar_background">	
			<%=image_tag("bar.png", :width => '100%', :height => '100%', :alt => "bar")%> 
				<div id="login">
					<p class="lightgrey_none_normal">
						<span id="inputArea">

		<%= form_for :session do |form| %>

<p class="lightgrey_none_normal">
		<%= form.label :email %>
		<%= form.text_field :email, :type => "email"%>
		<%= form.label :password%>
		<%= form.password_field :password%>
		<%= form.submit "Login" %>
</span>

</p>
<% end %>

					</p>
				</div>
			 <!-- Links to public/images/bar.png -->
			<div id="bar">

				 <!-- <a href="#"><p class="lightgrey_none_normal">about</p></a> -->
			<!--		  <div id="login">




-->

			</div>
		</div>
		<div id="wrapper">
			<div id="logo">
				<center><%= image_tag ("Logo 2.1.png", :height => "200px", :width => "547px")%></center>
				<!-- <center><p class="lightgrey_none_large"><span class="highlight">Sharing</span> made easy</p></center> -->
			</div>

			
		</div>





  		<%= yield %>
	</body>
</html>
